.title {
	font-weight: lighter;
	font-size: 3rem;
	color: #fff;
	letter-spacing: 5px;
	margin-top: 5px;
}

.loginForm {
	display: block;
}

.loginRow {
    margin-bottom: 18px;
}

.inputTitle {
    font-size: 14px;
    color: #b8b6b4;
    margin-bottom: 5px;
}

.textField{
    max-width: 300px;
    background: #32353C;
    border-radius: 3px;
    color: #E9E9E9;
    padding: 8px 6px;
    display: block;
    box-shadow: none;
    width: 300px;
    transition: border ease-in-out .5s;
    border: 1px solid #26282D;
    outline: none;
    font-weight: normal;
}

.loginBtn {
	background: #1A9FFF;
	border-radius: 3px;
	color: #E9E9E9;
	padding: 15px 129px;
	display: block;
	box-shadow: none;
	width: 100%;
	transition: border ease-in-out .5s;
	border: 1px solid #26282D;
	outline: none;
	font-weight: normal;
	font-family: 'Source Sans Pro', sans-serif;
}